$table-hover-color: #d4d4d4;
$accent-color: #c1f6ff;
$panel-bg-color: #fff;
$page-bg-color: #e7ebf0;
$btn-color: #bebebe;
$btn-active-color: #000;

$table-row-border: 1px solid #e0e0e0;
$panel-border: 1px solid #e0e0e0;
$panel-border-radius: 5px;
$panel-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px 0,rgba(0, 0, 0, 0.2) 1px 1px 2px 0;
$inner-shadow: inset rgba(0, 0, 0, 0.2) 0 3px 5px 0,inset rgba(0, 0, 0, 0.2) 1px 1px 2px 0;
