@import "_variables.scss";

@import "components/_table.scss";
@import "components/_paginator.scss";
@import "components/_form.scss";

body {
  background-color: $page-bg-color;
}

.main {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
