@import "../_variables.scss";

.form__field {
  display: flex;
  gap: 5px;
  flex-direction: column;
  margin-bottom: 10px;
  box-shadow: $panel-shadow;
  padding: 5px;
  border-radius: $panel-border-radius;
  background-color: $panel-bg-color;

  input,
  textarea {
    border: none;
    border-radius: $panel-border-radius;
    padding: 5px;
    background-color: $page-bg-color;
    box-shadow: $inner-shadow;

    &:focus {
      outline: 3px solid $accent-color;
    }
  }
}
