@import "../_variables.scss";
@import "../_mixins.scss";

.table__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.table {
  border-collapse: collapse;
  table-layout: auto;

  &__cell {
    padding: 5px;
    border: $table-border;
  }
  &__head-cell{
    @extend .table__cell;
    white-space: nowrap;
  }

  &__head-cell:hover {
    .head-cell__sort-btn,
    .head-cell__menu-btn {
      opacity: 1;
    }
  }

  &__cell-about {
    @include lines-limit(2); //ограничение количества отображаемых строк в поле about
  }

  &__row:hover {
    background-color: $table-hover-color;
    cursor: pointer;
  }

  &__row--selected,
  &__row--selected:hover {
    background-color: $table-active-color;
  }

  .head-cell__btn {
    width: 15px;
    height: 15px;
    border: 1px solid gray;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s;
  }

  .head-cell__sort-btn {
    @extend .head-cell__btn;

    &--asc,
    &--desc {
      background: url("../../assets/arrow-up.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      opacity: 1;
    }

    &--desc {
      transform: rotate(-180deg);
    }
  }

  .head-cell__menu-btn {
    @extend .head-cell__btn;
    background: url("../../assets/menu.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__menu {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
  }
}

.page-switcher {
  display: flex;
  justify-content: center;
  gap: 20px;

  // удаление стрелок у input[type="number"]
  @include numberInputRemoveArrows();

  &__current-page-index {
    width: 2ch;
  }
}
