@import "../_variables.scss";
@import "../_mixins.scss";

//содержит .table и .table-switcher
.table__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.table {
  border-collapse: collapse;
  table-layout: auto;

  th,
  td {
    border: $table-border;
  }

  //отображение направления сортировки в шапке таблицы
  .sort--up:after {
    content: "▲";
  }
  .sort--down:after {
    content: "▼";
  }

  .about-cell {
    //ограничение количества отображаемых строк в поле about
    @include lines-limit(2);
  }

  &__row:hover {
    cursor: pointer;
    background-color: $table-hover-color;
  }

  &__row.active {
    background-color: $table-active-color;
  }
}

.page-switcher {
  display: flex;
  justify-content: center;
  gap: 20px;

  // удаление стрелок у input[type="number"]
  @include numberInputRemoveArrows() &__current-page-index {
    width: 2ch;
  }
}
