@import "../_variables.scss";
@import "../_mixins.scss";

.table__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.table {
  border-collapse: collapse;
  table-layout: auto;
  overflow-x: auto;
  display: block;
  max-width: 50vw;
  border-radius: $panel-border-radius;
  box-shadow: $panel-shadow;
  background-color: $panel-bg-color;

  &__cell {
    padding: 5px 20px;
    border-bottom: $table-row-border;
  }

  &__head-cell {
    @extend .table__cell;
    padding: 5px;
    font-weight: bold;
    white-space: nowrap;
  }

  &__head-cell:hover {
    .head-cell__sort-btn,
    .head-cell__menu-btn {
      opacity: 1;
    }
  }

  &__cell-phone {
    white-space: nowrap;
  }

  &__cell-about {
    @include lines-limit(2); //ограничение количества отображаемых строк в поле about
  }

  &__cell-eyeColor {
    text-align: center;
    border-radius: 5px;
    padding: 5px;
  }

  &__row:hover {
    background-color: $table-hover-color;
    cursor: pointer;
  }

  &__row--selected,
  &__row--selected:hover {
    background-color: $accent-color;
  }

  .head-cell__btn {
    width: 15px;
    height: 15px;
    opacity: 0;
    margin: auto 5px;
    padding: 0;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    vertical-align: middle;
  }

  .head-cell__sort-btn {
    @extend .head-cell__btn;
    @include svg-icon("../assets/arrow-up.svg", 15px, $btn-color);

    &--asc,
    &--desc {
      background-color: $btn-active-color;
      opacity: 1;
    }

    &--desc {
      transform: rotate(-180deg);
    }
  }

  .head-cell__menu-btn {
    @extend .head-cell__btn;
    @include svg-icon("../assets/menu.svg", 15px, $btn-color);
    transform: rotate(90deg);
  }

  &__menu {
    background-color: $panel-bg-color;
    padding: 10px;
    border-radius: $panel-border-radius;
    border: $panel-border;
    box-shadow: $panel-shadow;
  }
}

.table {
  scrollbar-color: $table-hover-color $panel-bg-color;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: $panel-bg-color;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $table-hover-color;
    border-radius: 6px;
  }
}
