.table__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.table {
  border-collapse: collapse;
  table-layout: auto;
}

.table__cell, .table__head-cell {
  border: 1px solid #000;
}

.table__cell-about {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
}

.table__row:hover {
  background-color: #d4d4d4;
  cursor: pointer;
}

.table__row--selected {
  background-color: #c1f6ff;
}

.page-switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.page-switcher input::-webkit-outer-spin-button,
.page-switcher input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.page-switcher input[type="number"] {
  -moz-appearance: textfield;
}

.page-switcher__current-page-index {
  width: 2ch;
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 20px;
}
