.table__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.table {
  border-collapse: collapse;
  table-layout: auto;
}

.table__cell, .table__head-cell {
  padding: 5px;
  border: 1px solid #000;
}

.table__head-cell:hover .head-cell__sort-btn {
  opacity: 1;
}

.table__cell-about {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
}

.table__row:hover {
  background-color: #d4d4d4;
  cursor: pointer;
}

.table__row--selected {
  background-color: #c1f6ff;
}

.table .head-cell__sort-btn {
  width: 15px;
  height: 15px;
  border: 1px solid gray;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.table .head-cell__sort-btn--asc {
  background: url("../../assets/arrow-up.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 1;
}

.table .head-cell__sort-btn--desc {
  background: url("../../assets/arrow-up.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 1;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.page-switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.page-switcher input::-webkit-outer-spin-button,
.page-switcher input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.page-switcher input[type="number"] {
  -moz-appearance: textfield;
}

.page-switcher__current-page-index {
  width: 2ch;
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 20px;
}
