@charset "UTF-8";
.table {
  border: 1px solid #000;
  border-collapse: collapse;
  table-layout: auto;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #000;
}

.about-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
}

.table__row:hover {
  cursor: pointer;
  background-color: #d4d4d4;
}

.table__row.active {
  background-color: #c1f6ff;
}

.page-switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-switcher__indicator {
  margin: 0 20px;
}

.page-switcher__current-page-index {
  width: 2ch;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.sort--up:after {
  content: '▲';
}

.sort--down:after {
  content: '▼';
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 20px;
}
